@page
@model MegaDesk3_1.Pages.QuoteViews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DeskMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].ShipDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
